:root {
    --Primary-color: #C3073F;
    --Secondary-color: #C5C6C7;
    --Tetiary-color: #1F2833;
    --Primary-font: Poppins;
    --Secondary-font: Bebas Neue;
    --Tetiary-font: Rajdani;
    --Extra-font: Jost;
    --Extrastyle-font: Oleo Script;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.awardsbackground{
    width: 100%;
    height: 100vh;
    background-image: url("../images/backg3.jpg");
    background-position: center;
    background-size: cover;
    opacity: 100%;
}
.awardsinprogress{
    width: 60%;
    margin-left: 30%;
    text-align: left;
    margin-top: -550px;
    color: darkgreen;
}
.awardscontentwrap{
    width: 90%;
    height: 70vh;
    margin-left: 5%;
    text-align: center;
    margin-top: -0px;
    display: flex;
    flex-wrap: wrap;
}
.awards{
    width: 22%;
    height: 420px;
    background-color: whitesmoke;
    margin-right: 35px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid grey;
}
.awardart{
    width: 268px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}
.awardsname{
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
    background-color: transparent;
    color: darkgreen;
}
.textphrase{
    font-size: 15px;
    margin-bottom: 20px;
    color: var(--Tetiary-color);
}
.votehere{
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color: white;
    color: darkgreen;
    border-radius: 25px;
}
.votehere, .link {
    color: darkgreen;
    font-size: 18px;
}





@media screen AND (max-width:500px) {
    .awardsbackground{
        width: 100%;
        height: 100vh;
        background-image: url("../images/backg3.jpg");
        background-position: center;
        background-repeat: repeat;
        /* background-size: cover; */
        opacity: 100%;
    }
    .awardsinprogress{
        width: 80%;
        margin-left: 10%;
        text-align: left;
        margin-top: -610px;
        color: darkgreen;
    }
    .awardscontentwrap{
        width: 100%;
        height: auto;
        margin-left: 0%;
        text-align: center;
        margin-top: -0px;
        display: block;
        flex-wrap: wrap;
        background-color: #bae0c9;
    }
    .awards{
        width: 80%;
        height: 460px;
        background-color: whitesmoke;
        margin-left: 10%;
        margin-right: 15px;
        margin-top: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 7px;
        border: 1px solid grey;
    }
    .awardart{
        width: 100%;
        height: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 4px;
    }
    .awardsname{
        font-weight: bold;
        font-size: 25px;
        padding: 5px;
        color: darkgreen;
    }
    .textphrase{
        margin-bottom: 5px;
        font-size: 16px;
        color: var(--Tetiary-color);
    }
    .votehere{
        width: 80%;
        height: 50px;
        padding: 10px;
        background-color: white;
        color: darkgreen;
        border-radius: 14px;
    }
    .votehere, .link {
        color: darkgreen;
        font-size: 22px;
    }
}