.then {
    color: #3AAFA9;
    color: #950740;
    color: #C3073F;
    color: #4E4E50;
    color: #1A1A1D;
    color: #282828;
    color: #240090;
    color: #190061;
    color: #7395AE;
    color: #0C0032;
    color: #5D5C61;
    color: #F64C72;
    color: #2F2FA2;
    color: #242582;
    color: #C5C6C7;
    color: #1F2833;
    color: #0B0C10;
    color: #f3e24d;
    color: #3AAFA9;
    color: #17252A;
    color: #FEFFFF;
    color: #f346c8;
}